[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "OpenSpecy"]
	path = OpenSpecy
	url = https://github.com/wincowgerdev/openspecy-package
	shallow = true
	registered = true
